.wrapper * {
  /*border: 1px solid red;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 4px;
}
.upLine {
  display: flex;
  justify-content: space-between;
}

.dateCheckerContainer {
  display: flex;
  flex: 1;
}

.pageModeSelector {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.pageModeSelectorButton {
  font-size: 0.8em;
  margin-bottom: auto;
}

.mainPartContainer {
  flex: 1;
  border-radius: 6px;
  display: flex;
}