.topArea {
  flex-direction: row;
  display: flex;
  background-color: var(--bg-main);
  padding: 10px;
}
.pageList {
  display: flex;
  flex: 1;
}
.user {
  display: flex;
}
.userName {
  color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}