@font-face {
  font-family: 'MainFont';
  src: local('MainFont'), url(./font/vetka.otf) format('opentype');
}
.wrapper {
  border: 2px solid #81d073c4;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: MainFont, serif;
  font-size: 24px;
  font-weight: bold;
  color: #e4ff84;;
  //min-width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapper:hover {
  color: #4bff00;
  border: 2px solid #56ff0e;
}
.text {
  flex: 1;
  pointer-events: none;
}
.ico {
  display: flex;
  pointer-events: none;
}
.act {
  color: #00f2ffe3;
  border: 2px solid #00c4ffab;
  background-color: #00000045;
}