@font-face {
  font-family: 'MainFont';
  src: local('MainFont'), url(./font/vetka.otf) format('opentype');
}
.wrapper {
  border: 2px solid #81d073c4;
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: MainFont, serif;
  font-size: 24px;
  font-weight: bold;
  color: #e4ff84;;
  min-width: 70px;
  text-align: center;
}
.wrapper:hover {
  color: #4bff00;
  font-weight: bold;
  border: 2px solid #0e9bffc4;
  background-color: #00000059;
}