@font-face {
  font-family: 'MainFont';
  src: local('MainFont'), url(./font/vetka.otf) format('opentype');
}
.wrapper {
  border: var(--element-border);
  background-color: var(--element-bg);
  border-radius: 8px;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: MainFont, serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--element-text);
  //min-width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapper:hover {
  /*color: #4bff00;*/
  border: var(--element-hover-border);
}
.text {
  flex: 1;
  pointer-events: none;
}
.ico {
  display: flex;
  pointer-events: none;
}
.act {
  color: var(--element-active-text);
  border: var(--element-active-border);
  background-color: var(--element-active-bg);
}