.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: default;
    user-select: none;
    flex-direction: row;

}
.activeWrapper {
    /*color: red;*/
    font-weight: bold;
}
.radioButton {
    margin: 0 6px;
    cursor: pointer;
}
.info {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #525050;
}
.deleteWrapper {
    flex: 1;
    display: flex;
}
.deleteButton {
    cursor: pointer;
}