.wrapper {

}
.section {
  margin-top: 10px;
  background-color: #b9b9b9a3;
  padding: 4px;
  border-radius: 10px;
}
.sheetList {

}
.userList {
  margin-left: 4px;
}
.add {
  display: flex;
  margin: 6px 0;
}
.buttonWrapper {
  margin: 0 4px;
}