.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cell {
  background-color: #eafff8cc;
  margin: 2px;
}
.cellUp {
  background-color: #eafff8cc;
  margin: 2px;
  height: 40px;
  display: flex;
  align-items: center;
}
.cellDown {
  background-color: #eafff8cc;
  margin: 2px;
  flex: 1;
  display: flex;
}

.page {
  flex: 1;
  display: flex;
  padding: 5px;
}

.textEditor {
  border: 1px solid;
  width: auto !important;
  height: auto !important;
  display: flex;
  flex: 1;
}
.controlGroup {
  display: flex;
  margin-left: 5px;
}