.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.elementLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.input {
  width: 100%;
  background-color: #00000000;
  flex: 1;
  margin-left: 6px;
  border-color: #6eb36a;
  border-radius: 4px;
  height: 18px;
}
.input:focus {
  outline: none;
}