.wrapper {

}
.textAreaWrapper {
    display: flex;
}
.textArea {
    min-width: 400px;
    min-height: 150px;
    flex: 1;
}
.todoListContainer {

}
.addLine {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
}
.buttonAdd {
    margin-top: -50px;
    margin-right: 3px;
    z-index: 2;
}