.app {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("img/Alwertus Server BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.centerArea {
    display: flex;
    flex: 1;
    flex-direction: column;

}
