.wrapper {
  flex: 1;
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
}
.panelMenu {
  @extend .panel;
}
.panelPage {
  @extend .panel;
  flex: 1;
}

.cell {
  background-color: #eafff8cc;
  margin: 2px;
}
.cellUp {
  @extend .cell;
  height: 40px;
  display: flex;
  align-items: center;
}
.cellDown {
  @extend .cell;
  flex: 1;
}