.wrapper {
  flex: 1;
  display: flex;
}

.panel {
  display: flex;
  flex-direction: column;
}
.panelMenu {
  display: flex;
  flex-direction: column;
}
.panelPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cell {
  background-color: #eafff8cc;
  margin: 2px;
}
.cellUp {
  background-color: #eafff8cc;
  margin: 2px;
  height: 40px;
  display: flex;
  align-items: center;
}
.cellDown {
  background-color: #eafff8cc;
  margin: 2px;
  flex: 1;
}