.wrapper {
    display: flex;
    flex: 1;
}
.sheetListColumn {
    background-color: var(--panel-bg);
    box-shadow: var(--panel-shadow);
    border-radius: var(--panel-border-radius);
    flex: 1;
    padding: 10px;
    margin: 10px;
}
.userListColumn {
    background-color: var(--panel-bg);
    box-shadow: var(--panel-shadow);
    border-radius: var(--panel-border-radius);
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.columnTitle {
    display: flex;
    padding-left: 50px;
}
.addRecordContainer {
    margin-top: 15px;
    display: flex;
}
.errorContainer {
    display: flex;
    color: var(--error-text);
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.button {
    margin-left: 10px;
    display: flex;
}