.wrapper {
  flex: 1;
  margin: 5px;
  padding: 10px 0;
  border-radius: var(--panel-border-radius);
  display: flex;
  flex-direction: column;
}

@keyframes animYearShow {
  from {opacity: 0;
    width: 1px;}
  to {opacity: 100%;
    width: 80px;}
}

.yearAnimShow {
  animation: animYearShow 500ms;
}

.yearAnimHide {
  animation: animYearShow 500ms reverse ;
}
.yearContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 10px;
}
.yearContainer div {
  display: flex;
  justify-content: center;
  background-color: var(--element-bg);
  border-radius: 4px;
}

.monthContainer {
  display: flex;
  justify-content: space-around;
}
.month {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: default;
  user-select: none;
  border: var(--element-border);
  border-radius: var(--element-border-radius);
  margin: 0 10px;
  padding: 1px 0;
  background-color: var(--element-bg);
  color: var(--element-text);
}
.monthChecked {
  background-color: var(--element-active-bg);
  color: var(--element-active-text);
  border: var(--element-active-border);
  font-weight: bold;
}