.wrapper {
  cursor: default;
  user-select: none;
  width: 80px;
  font-weight: bold;

}
.wrapperSmall {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 80px;
  font-size: smaller;
  color: var(--element-text);
}