.wrapper {
    background-color: var(--panel-alt-bg);
    display: flex;
    padding-right: 20px;
    padding-top: 4px;
    margin-top: 4px;
    box-shadow: var(--panel-alt-shadow);
    border: var(--panel-alt-border)
}
.deleteButton {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access {
    flex: 1;
}
.up {
    font-weight: bold;
}
.dn {
    font-size: smaller;
}